.footer {
  margin-top: auto;
  padding: vc(48) vc(20);
  border-top: 1px solid $color-border;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: vc(40);
  max-width: vc(1200);
  margin: 0 auto;

  @include devices {
    grid-template-columns: 1fr;
  }
}

.footer__brand {
  max-width: vc(320);
}

.footer__logo {
  display: inline-block;
  margin-bottom: vc(16);
  font-weight: 600;
  color: $color-black;
  text-decoration: none;
}

.footer__site-name {
  color: $color-black;
}

.footer__description {
  font-size: vc(14);
  line-height: 1.6;
  color: $color-gray-600;
  margin: 0;
}

.footer__nav {
  display: flex;
  gap: vc(40);
}

.footer__nav-title {
  font-size: vc(14);
  font-weight: 600;
  color: $color-black;
  margin: 0 0 vc(12);
}

.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav-item {
  margin-bottom: vc(8);
}

.footer__nav-link {
  font-size: vc(14);
  color: $color-gray-600;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $color-primary;
  }
}

.footer__copyright {
  max-width: vc(1200);
  margin: vc(24) auto 0;
  padding-top: vc(24);
  border-top: 1px solid $color-border;
  font-size: vc(12);
  color: $color-gray-500;
  text-align: center;
}
