.navigation {
  background: $color-white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid $color-border;
}

.navigation__container {
  max-width: vc(1240);
  margin: 0 auto;
  padding: 0 vc(20);
}

.navigation__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: vc(16) 0;
}

.navigation__logo {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: $color-black;
}

.navigation__site-name {
  color: $color-black;
}

.navigation__menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: vc(8);
  list-style: none;
  margin: 0;
  padding: 0;

  &--mobile {
    display: none;
    position: static;
    transform: none;
    flex-direction: column;
    padding: vc(16) 0;
    border-top: 1px solid $color-border;

    @media (max-width: 768px) {
      display: flex;
    }
  }

  @media (max-width: 768px) {
    &:not(&--mobile) {
      display: none;
    }
  }
}

.navigation__menu-link {
  font-size: vc(14);
  padding: vc(8) vc(16);
  color: $color-gray-600;
  border-radius: vc(8);
  transition: color 0.2s;

  &:hover,
  &.router-link-active {
    color: $color-black;
  }
}

.navigation__right {
  display: flex;
  align-items: center;
  gap: vc(16);
}

.navigation__toggle {
  display: none;
  flex-direction: column;
  gap: vc(4);
  background: none;
  border: none;
  cursor: pointer;
  padding: vc(8);

  @media (max-width: 768px) {
    display: flex;
  }
}

.navigation__toggle-line {
  width: vc(24);
  height: 2px;
  background: $color-black;
}
