@mixin desktop-xxl {
  @media (max-width: ($desktop-xxl - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: ($desktop + 1px)) {
    @content;
  }
}

@mixin devices {
  @media (max-width: ($desktop * 1px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: ($tablet - 1px)) {
    @content;
  }
}
