*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}
